# Association Analysis

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt

In [2]:
!wget https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

--2022-02-15 17:04:14--  https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8420 (8.2K) [text/plain]
Saving to: ‘retail_dataset.csv’

retail_dataset.csv  100%[===================>]   8.22K  --.-KB/s    in 0.02s

2022-02-15 17:04:14 (337 KB/s) - ‘retail_dataset.csv’ saved [8420/8420]

In [3]:
data = pd.read_csv('retail_dataset.csv')
data.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [9]:
items = set()
for col in data:
    items.update(data[col].unique())
print(items)

{nan, 'Wine', 'Pencil', 'Diaper', 'Cheese', 'Bagel', 'Bread', 'Meat', 'Milk', 'Eggs'}