# KMeans Clustering

### Download the dataset

In [1]:
!wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv

--2022-02-15 16:02:07--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘iris.csv.7’

iris.csv.7          100%[===================>]   3.88K  14.6KB/s    in 0.3s

2022-02-15 16:02:08 (14.6 KB/s) - ‘iris.csv.7’ saved [3975/3975]

### Importing libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

### Load the dataset

In [3]:
df = pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Add a column 'class' representing the 'variety' as discrete values

In [4]:
df['class'] = df['variety'].map({
    'Setosa': 0,
    'Versicolor': 1,
    'Virginica': 2
})

### Get the independent (X) data

In [5]:
X = df[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### Get the dependent (Y) data

In [6]:
Y = df[['class']]
Y

     class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

### Split the dataset into training and testing data

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

### Applying the model

In [8]:
kmeans = KMeans(n_clusters=3)
model = kmeans.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [9]:
print('Accuracy: ', accuracy_score(Y_test['class'], Y_pred))
print('Recall: ', recall_score(Y_test['class'], Y_pred, average='weighted'))
print('Precision: ', precision_score(Y_test['class'], Y_pred, average='weighted'))
print('F1 score: ', f1_score(Y_test['class'], Y_pred, average='weighted'))

Accuracy:  0.9111111111111111
Recall:  0.9111111111111111
Precision:  0.9137373737373737
F1 score:  0.9097465886939571