# KMeans

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
data['class'] = data['variety'].map({
    'Setosa': 0,
    'Versicolor': 1,
    'Virginica': 2
})

In [4]:
x = data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
y = data[['class']]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [6]:
kmeans = KMeans(n_clusters=3)
model = kmeans.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [7]:
print("Accuracy= ", accuracy_score(y_test, y_pred))
print("Recall= ", recall_score(y_test, y_pred, average='weighted'))
print("Precision= ", precision_score(y_test, y_pred, average='weighted'))
print("f1 score= ", f1_score(y_test, y_pred, average='weighted'))

Accuracy=  0.9111111111111111
Recall=  0.9111111111111111
Precision=  0.9137373737373737
f1 score=  0.9097465886939571