# ID3 and CART

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [3]:
!wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv

--2022-02-15 16:50:14--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   3.88K  --.-KB/s    in 0.004s

2022-02-15 16:50:15 (1.07 MB/s) - ‘iris.csv’ saved [3975/3975]

In [4]:
data = pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
data['class'] = data['variety'].map({
    'Setosa': 0,
    'Versicolor': 1,
    'Virginica': 2
})
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety  class
0           5.1          3.5           1.4          0.2  Setosa      0
1           4.9          3.0           1.4          0.2  Setosa      0
2           4.7          3.2           1.3          0.2  Setosa      0
3           4.6          3.1           1.5          0.2  Setosa      0
4           5.0          3.6           1.4          0.2  Setosa      0

In [6]:
x = data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
y = data[['class']]

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

## ID3

In [8]:
id3 = DecisionTreeClassifier(criterion='entropy')
id3_model = id3.fit(x_train, y_train)
y_id3 = id3_model.predict(x_test)

In [ ]:
print("Accuracy: ", accuracy_score(y_test['class'], y_id3))
print("Recall: ", recall_score(y_test['class'], y_id3, average='micro'))
print("Precision: ", precision_score(y_test['class'], y_id3, average='micro'))
print("f1: ", f1_score(y_test['class'], y_id3, average='micro'))